<md-toolbar color="primary">
  Real-time Parking Booking System
  <a (click)="logout()" style="position: absolute; right: 23px; top: 18px;cursor:pointer;">
    <img md-list-avatar src="/assets/logout.png" alt="logout" height="30px">
  </a>
</md-toolbar>

<md-tab-group class="signup-tab-container">
  <md-tab>
    <template md-tab-label>
      Reserve Parking
    </template>

    <md-card class="signup-container">
      <md-card-title>  Book Parking Slot </md-card-title>
      <md-card-content>

      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      View Reservations
    </template>

    <md-card class="signup-container">
      <md-card-title>  View Your History </md-card-title>
      <md-card-content>

      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      Cancel Reservation
    </template>

    <md-card class="signup-container">
      <md-card-title>  Cancel Reservation </md-card-title>
      <md-card-content>

      </md-card-content>
    </md-card>
  </md-tab>

  <md-tab>
    <template md-tab-label>
      Feedback
    </template>

    <md-card class="signup-container">
      <md-card-title>  Send Feedback </md-card-title>
      <md-card-content>

      </md-card-content>
    </md-card>
  </md-tab>

</md-tab-group>
